{% macro render_form(form) -%}

  {%- for field in form %}
    {%- if field.type in ['CSRFTokenField', 'HiddenField'] %}
      {{ field() }}

    {%- elif field.type == "BooleanField" %}
      <div class="checkbox">
        <label>
          {{ field() }} {{ field.label }}
        </label>
      </div>

    {%- elif field.type == "RadioField" %}
      {{ field.label }}
      {%- for subfield in field %}
        <div class="radio">
          <label>{{ subfield }} {{ subfield.label }}</label>
        </div>
      {%- endfor %}

    {% elif field.type == "SubmitField" %}
      <button type="submit" class="btn btn-lg btn-success btn-block">{{ field.label.text }}</button>

    {% elif field.name == "captcha" %}
      <div class="clearfix {% if field.errors %}has-error{% endif %} form-group">
          <div class="input-group">
              <span class="input-group-addon" id="sizing-addon-password"><span class="glyphicon glyphicon-exclamation-sign"></span></span>
              {{ field(class_="form-control", placeholder=field.label.text) }}
              <span class="input-group-addon code" id="basic-addon-code">
                <img id="captcha_img" src="{{ url_for('captcha.captcha')}}" alt="点击更换" class="m" width="120" height="35">
              </span>
          </div>
      </div>

    {%- else %}
      <div class="clearfix {% if field.errors %}has-error{% endif %} form-group">
        <!-- {{ field.label }} -->
        {%- if field.type == "TextAreaField" %}
          {{ field(class_="form-control", placeholder=field.label.text, rows=10) }}
        {%- else %}
          {{ field(class_="form-control", placeholder=field.label.text) }}
        {%- endif %}

        {%- if field.errors or field.help_text %}
          <span class="help-block">
            {%- if field.errors %}
              {{ field.errors|join(' ') }}
            {%- else %}
              {{ field.help_text }}
            {%- endif %}
          </span>
        {%- endif %}
      </div>
    {%- endif %}
  {%- endfor %}

{%- endmacro %}

{%- macro render_tips(field) %}
{%- if field.description %}
<span class="tips">{{ field.description }}</span>
{%- endif %}
{%- endmacro %}

{%- macro render_errors(field) %}
{%- if field.errors %}
  {%- for error in field.errors %}
  <div class="alert alert-danger"><a class="close" data-dismiss="alert" href="#"><i class="fa fa-close"></i></a>{{ error }}</div>
  {%- endfor %}
{%- endif %}
{%- endmacro %}