{% extends 'layout.html' %}
{% from "macros/pagination.html" import render_pagination %}

{% block title %} Stock列表 {% endblock %}

{% block main %}
<div class="row">
  <div class="col">
    <table id="stocks-table" class="table table-hover table-bordered table-sm table-responsive table-fixed-head">
      <thead class="bg-info">
        <tr>
          <th>代码</th>
          <th>名称</th>
          <th>所属行业</th>
          <th>地区</th>
          <th>市盈率</th>
          <th>每股收益</th>
          <th>市净率</th>
          <th>流通股本(亿)</th>
          <th>总股本(亿)</th>
          <th>总资产(万)</th>
          <th>固定资产</th>
          <th>未分利润</th>
          <th>每股未分配</th>
          <th>收入同比(%)</th>
          <th>利润同比(%)</th>
          <th>毛利率(%)</th>
          <th>净利润率(%)</th>
          <th>股东人数</th>
        </tr>
      </thead>
      <tbody>
        {% for stock in page.items -%}
        <tr>
          <td><a href="{{ url_for('details.stock', code=stock.code) }}" target="_blank">{{ stock.code }}</a></td>
          <td><a href="{{ url_for('details.stock', code=stock.code) }}" target="_blank">{{ stock.name }}</a></td>
          <td><a href="{{ url_for('details.stocks', industry=stock.industry) }}">{{ stock.industry }}</a></td>
          <td><a href="{{ url_for('details.stocks', area=stock.area) }}">{{ stock.area }}</a></td>
          <td>{{ stock.pe }}</td>
          <td>{{ stock.esp }}</td>
          <td>{{ stock.pb }}</td>
          <td>{{ stock.outstanding }}</td>
          <td>{{ stock.totals }}</td>
          <td>{{ stock.totalAssets }}</td>
          <td>{{ stock.fixedAssets }}</td>
          <td>{{ stock.undp }}</td>
          <td>{{ stock.perundp }}</td>
          <td>{{ stock.rev }}%</td>
          <td>{{ stock.profit }}%</td>
          <td>{{ stock.gpr }}%</td>
          <td>{{ stock.npr }}%</td>
          <td>{{ "%d" % stock.holders if stock.holders else '' }}</td>
        </tr>
        {%- endfor %}
      </tbody>
    </table>
    {{ render_pagination(page, 'details.stocks') }}
  </div>
</div>
{% endblock %}

{% block bodyjs %}
<script src="/static/js/jquery.table-head-fixed.min.js"></script>
<script>
$(document).ready(function() {
  $("#stocks-table").tfh({
    trigger: 60,  // The top value on scrolling when the <thead> gets fixed
    top: 54  // The defaultop value on scrolling when the <thead> gets fixed
  });
});
</script>
{% endblock %}