{% extends 'layout.html' %}
{% from "macros/pagination.html" import render_pagination %}

{% block title %} Stock列表 {% endblock %}

{% block main %}
<div class="row">
  <div class="col">
    <table id="stocks-table" class="table table-hover table-bordered table-sm table-responsive table-fixed-head">
      <thead class="bg-info">
        <tr>
          <th>代码</th>
          <th>名称</th>
          <th>权重</th>
          <th>日期</th>
        </tr>
      </thead>
      <tbody>
        {% for stock in page.items -%}
        <tr>
          <td><a href="{{ url_for('details.stock', code=stock.code) }}" target="_blank">{{ stock.code }}</a></td>
          <td><a href="{{ url_for('details.stock', code=stock.code) }}" target="_blank">{{ stock.name }}</a></td>
          <td>{{ stock.weight }}</td>
          <td>{{ stock.date }}</td>
        </tr>
        {%- endfor %}
      </tbody>
    </table>
    {{ render_pagination(page, endpoint) }}
  </div>
</div>
{% endblock %}

{% block bodyjs %}
<script src="/static/js/jquery.table-head-fixed.min.js"></script>
<script>
$(document).ready(function() {
  $("#stocks-table").tfh({
    trigger: 60,  // The top value on scrolling when the <thead> gets fixed
    top: 54  // The defaultop value on scrolling when the <thead> gets fixed
  });
});
</script>
{% endblock %}