{% extends '_layout/base.html' %}
{% load static %}

{% block title %}创建概念{% endblock %}

{% block header_css %}
    <link rel="stylesheet" href="{% static 'css/editormd.min.css' %}"/>
{% endblock %}

{% block scripts %}
    <script src="{% static 'js/editormd.min.js' %}"></script>
    <script type="text/javascript">
        $(function () {
            var editor = editormd("editormd", {
                path: "/static/js/lib/",
                height: 640
            });
        });
    </script>
{% endblock %}

{% block content %}
    <div class="py-5">
        <h2>创建概念</h2>
    </div>

    <form method="post">
        {% csrf_token %}
        {{ form.non_field_errors }}

        <div class="mb-3">
            {{ form.name.errors }}
            <label for="name">{{ form.name.label }}</label>
            <input name="name" type="text" class="form-control" id="name" placeholder="{{ form.name.label }}" required>
        </div>

        <div class="mb-3">
            {{ form.description.errors }}
            <label for="description">{{ form.name.description }}</label>
            <div id="editormd">
                <textarea id="description" name="description" class="editormd-markdown-textarea"></textarea>
            </div>
        </div>

        <hr class="mb-4">

        <button class="btn btn-primary btn-lg btn-block" type="submit">创建</button>
    </form>

{% endblock %}
