{% extends '_layout/base.html' %}
{% load static %}

{% block title %}{% if object %}编辑{% else %}创建{% endif %}概念{% endblock %}

{% block header_css %}
    <link rel="stylesheet" href="{% static 'editor.md/css/editormd.min.css' %}"/>
{% endblock %}

{% block scripts %}
    <script src="{% static 'editor.md/editormd.min.js' %}"></script>
    <script type="text/javascript">
        $(function () {
            var editor = editormd("editormd", {
                path: "/static/editor.md/lib/",
                height: 640,
                saveHTMLToTextarea: true,
            });
        });
    </script>
{% endblock %}

{% block content %}
    <div class="py-5">
        <h2>{% if object %}编辑{% else %}创建{% endif %}概念</h2>
    </div>

    <form method="post">
        {% csrf_token %}
        {{ form.non_field_errors }}

        <div class="mb-3">
            {{ form.name.errors }}
            <label for="name">{{ form.name.label }}</label>
            <input name="name" type="text" class="form-control" id="name" placeholder="{{ form.name.label }}" required value="{% if object %}{{ object.name }}{% endif %}">
        </div>

        <div class="mb-3">
            {{ form.description.errors }}
            <label for="description">{{ form.description.label }}</label>
            <div id="editormd">
                <textarea id="description" name="description" class="editormd-markdown-textarea">{% if object %}{{ object.description }}{% endif %}</textarea>
                <textarea name="description_html" class="editormd-html-textarea"></textarea>
            </div>
        </div>

        <hr class="mb-4">

        <button class="btn btn-primary btn-lg btn-block" type="submit">提交</button>
    </form>

{% endblock %}
