{% extends '_layout/base.html' %}
{% load static %}
{% block title %}{{ object.name }}{% endblock %}

{% block header_css %}
    <link href="{% static 'css/markdown.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
    <div class="card" style="margin-top: 60px">
        <div class="card-header">
            {{ object.name }}
        </div>
        <div class="card-body">
            {{ object.description_html|safe }}
        </div>
        <div class="card-footer bg-transparent border-success">
            <a href="{% url 'wiki:concept-edit' object.id %}" class="card-link">Edit</a>
        </div>
    </div>
{% endblock %}
