<!DOCTYPE html>
<html lang=en>

<head>
    <meta charset=utf-8>
    <meta http-equiv=X-UA-Compatible content="IE=edge">
    <meta name=viewport content="width=device-width,initial-scale=1">
    <title>frontend</title>
    <link href=/static/css/chunk-3e609eba.49a1d651.css rel=prefetch>
    <link href=/static/css/chunk-466b3e7c.ca684013.css rel=prefetch>
    <link href=/static/css/chunk-59c7272e.0046c2d8.css rel=prefetch>
    <link href=/static/js/chunk-3e609eba.7f30bc9e.js rel=prefetch>
    <link href=/static/js/chunk-466b3e7c.73aab22f.js rel=prefetch>
    <link href=/static/js/chunk-59c7272e.ed223f8c.js rel=prefetch>
    <link href=/static/js/chunk-7de2a07b.cbb3faca.js rel=prefetch>
    <link href=/static/css/app.8ac65266.css rel=preload as=style>
    <link href=/static/css/chunk-vendors.9e4d54e5.css rel=preload as=style>
    <link href=/static/js/app.278ac4ef.js rel=preload as=script>
    <link href=/static/js/chunk-vendors.2676b3b1.js rel=preload as=script>
    <link href=/static/css/chunk-vendors.9e4d54e5.css rel=stylesheet>
    <link href=/static/css/app.8ac65266.css rel=stylesheet>
</head>

<body><noscript><strong>We're sorry but frontend doesn't work properly without JavaScript enabled. Please enable it to
            continue.</strong></noscript>
    <div id=app></div>
    <script src=/static/js/chunk-vendors.2676b3b1.js></script>
    <script src=/static/js/app.278ac4ef.js></script>
</body>

</html>
