{% load static %}<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="{% static 'img/favicon.ico' %}">

    <title>{% block title %}{% endblock %} | {{ SITE_NAME }}</title>

    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/offcanvas.css' %}" rel="stylesheet">
    {% block header_css %}{% endblock %}
    {% block header_js %}{% endblock %}
</head>

<body class="bg-light">
{% include '_layout/nav.html' %}

<main id="main" class="container">
    {% block content %}{% endblock %}
</main>

{% include '_layout/footer.html' %}

<script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
<script src="{% static 'js/popper.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/holder.min.js' %}"></script>
<script src="{% static 'js/app.js' %}"></script>
{% block scripts %}{% endblock %}
</body>
</html>
